---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sierra Wireless - AirVantage</title>
	<meta name="description" content="Sierra Wireless - AirVantage" />
	<meta name="robots" content="index, follow" />
    <link href="resources/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="resources/css/airvantage.github.io.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="resources/css/misc_icons.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="resources/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="resources/js/main.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    	<script type="text/javascript" src="resources/js/html5shiv.js"></script>
	<![endif]-->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {filter: none;
    }
  </style>
<![endif]-->
</head>
<body>
    <div class="wrapper">
    	<div id="top">
            <header>
                <h1><a title="back to top" href="#introduction" class="navlink">Sierra Wireless - AirVantage</a></h1>
                <nav>
                    <a href="#features" class="navlink"><i class="icon-github"></i> Repositories</a>
                    <a href="/devkit" class="navlink">Dev. kit</a>
                    <a href="#who" class="navlink">Who we are</a>
                    <a href="/blog" class="navlink">Blog</a>
                    <a href="http://developer.sierrawireless.com" target="_blank"><span style="font-family: 'swop_icons' ; font-size:5em; line-height:0em; vertical-align:-0.2em;">L</span></a>
                </nav>
            </header>
        </div>


        <div id="introduction">
        	<img src="resources/img/banner.png" class="banner" />
            AirVantage is built by people who are passionate about <strong style="font-family: 'l-rg', arial, sans;">open source</strong>. <br/>
            We use and contribute to open-source projects, and we think open source is key to enabling the development of M2M applications.
        </div>
        <div id="features">
        	<div class="bullet"></div>
        	<h2>Repositories</h2>
            <p>
            	<div class="feature first">
                	<center><span class="testicon darkgrey">I</span></center>
                    <h4>Tutorials</h4>
                    Lorem ipsum
                </div>
                <div class="feature">
                	<center><a href="/api"><span class="testicon darkgrey">J</span></a></center>
                    <a href="/api"><h4>API examples</h4></a>
                    We provide examples to get you up to speed with AirVantage API in no time with your language of choice 
                </div>
            	<div class="feature">
                	<center><span class="testicon darkgrey">☺</span></center>
                    <h4>Fun projects</h3>
                    What is cool with M2M is that one can build all sorts of fun projects. We are too, and we are sharing some of these projects with the community.
                </div>
            </p>
        </div>
        <div id="who">
        	<div class="bullet"></div>
        	<h2>Who we are</h2>
            <h3></h3>
                {% random site.authors rauthors %}
                {% for author in rauthors %}
                <div class="author_vcard {% cycle 'first' ,'', '', '' %}" id="{{ author[1].username }}" style="background: url('https://secure.gravatar.com/avatar/{{ author[1].gravatar}}?s=200')">
                    <div class="name">{{ author[1].display_name }}</div>


                    {% assign has_blog = false %}
                    {% for post in site.posts %}
                    {% if post.author contains author[1].username %}
                      {% assign has_blog = true %}
                    {% endif %}
                    {% endfor %}

                    {% if has_blog %}
                    <div class="blog_link" style="float:left">
                        <a href="/authors/{{ author[0]}}/page1" class="link">Blog <span class="red">►</span></a>
                    </div>
                    {% endif %}


                    <div class="social">
                        {% if author[1].twitter %}
                        <div class="twitter">
                            <a href="https://twitter.com/{{ author[1].twitter }}" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% if author[1].github %}
                        <div class="github">
                            <a href="https://github.com/{{ author[1].github }}" target="_blank">
                                <i class="icon-github"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% if author[1].gplus %}
                        <div class="gplus">
                            <a href="https://plus.google.com/{{ author[1].gplus }}" target="_blank">
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>                
                {% endfor %}
        </div>
    </div>
</body>
</html>