---
layout: default
title: AirVantage ♡ Open Source
landing: true
---
<div id="introduction">
	<img src="resources/img/banner.png" class="banner" />
    <a href="http://airvantage.net/start" target="_blank">AirVantage</a> is built by people who are passionate about open source. <br/>
    We use and contribute to open-source projects, and we think it is key to enabling the development of M2M applications.
</div>
<div id="features">
	<div class="bullet"></div>
	<h2>Repositories</h2>
    <p>
    	<div class="feature repo first">
            <a href="/tutorials">
            	<center><span class="testicon darkgrey"><i class="icon-library repo-icon"></i></span></center>
                <h4>Tutorials</h4>
            </a>
            Get started with AirVantage by following one of our detailed tutorials
        </div>
        <div class="feature repo">
        	<a href="/api">
                <center><a href="/api"><span class="testicon darkgrey"><i class="icon-cog repo-icon"></i></span></center>
                <h4>API examples</h4>
            </a>
            We provide examples to get you up to speed with AirVantage API in no time with your language of choice 
        </div>
    	<div class="feature repo">
        	<a href="/projects">
                <center><span class="testicon darkgrey"><i class="icon-rocket repo-icon" style="text-indent: -6px;"></i></span></center>
                <h4>Featured projects</h4>
            </a>
            What is cool with M2M is that one can build all sorts of fun projects. We are too, and we are sharing some of these projects with the community.
        </div>
    </p>
</div>
<div id="who">
	<div class="bullet"></div>
	<h2>Who we are</h2>
    <h3></h3>
    <div style="margin-left: 10%" id="authors">
        {% for author in site.authors %}
        <div class="author_vcard" id="{{ author[1].username }}" style="background: url('https://secure.gravatar.com/avatar/{{ author[1].gravatar}}?s=200')">
            <div class="name">{{ author[1].display_name }}</div>


            {% assign has_blog = false %}
            {% for post in site.categories.blog %}
            {% if post.author contains author[1].username %}
              {% assign has_blog = true %}
            {% endif %}
            {% endfor %}

            {% if has_blog %}
            <div class="blog_link" style="float:left">
                <a href="/authors/{{ author[0]}}/page1" class="link">Blog <span class="red">►</span></a>
            </div>
            {% endif %}


            <div class="social">
                {% if author[1].twitter %}
                <div class="twitter">
                    <a href="https://twitter.com/{{ author[1].twitter }}" target="_blank">
                        <i class="icon-twitter"></i>
                    </a>
                </div>
                {% endif %}
                {% if author[1].github %}
                <div class="github">
                    <a href="https://github.com/{{ author[1].github }}" target="_blank">
                        <i class="icon-github"></i>
                    </a>
                </div>
                {% endif %}
                {% if author[1].gplus %}
                <div class="gplus">
                    <a href="https://plus.google.com/{{ author[1].gplus }}" target="_blank">
                        <i class="icon-gplus"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>                
        {% endfor %}
    </div>
</div>