{% if page.category == 'blog' %}
    {% for page2 in site.categories.blog %}
        {% if found == 'true' %}
            {% assign plus_one = page2 %}
            {% assign found = 'false' %}
        {% endif %}
        {% if page2.title == page.title and page2.date == page.date %}
            {% assign found = 'true' %}
            {% assign minus_one = temp_minus_one %}
        {% endif %}
        {% assign temp_minus_one = page2 %}
    {% endfor %}
{% endif %}

<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <span class="left"> 
        {% if minus_one.url %} 
                <a href="{{minus_one.url}}" title="Previous Post: 
{{minus_one.title}}">&laquo; {{minus_one.title}}</a> 
        {% endif %} 
        </span> 
        {% if minus_one.url and plus_one.url %} | {% endif %}

        <span class="right"> 
        {% if plus_one.url %} 
                <a href="{{plus_one.url}}" title="next Post: 
{{plus_one.title}}">{{plus_one.title}} &raquo; </a> 
        {% endif %} 
        </span> 
        <div class="clear">&nbsp;</div> 
</div> 