p {
	font-size: 20px;
	margin-bottom: 1em;
}

h1 {
	font-size: 36px;
}

#content {
	margin: 0 auto;
	position: relative;
	clear: both;
	padding-top: 195px; /*1024 display standard version*/
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	padding-bottom: 100px;
}

#related_posts {
	padding-top: 10px;
}

#content p, #content h1, #content h2, #content h3, #content h4, #content h5 {
	float: none;
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	padding-left: 0px;
}

#content h1 {
/*	border-bottom: 1px dotted rgb(139, 139, 139); */
}

#content h2 {
	margin-top: .5em;
	margin-bottom: 0em;
}

#content h4 {
	margin-top: 10px;
	font-size: 26px;
}

ul li{
	list-style: circle;
	font-size: 20px;
	margin-left: 0em;
	color: rgb(139, 139, 139);
	line-height: 30px;
}

#post ul li {
	margin-left: 2em;
}

#page-navigation {
	font-size: 0.8em;
	float: right;
	position: relative;
	text-align: right;
}

#api_container strong {
	color: rgb(229,59,48);
	font-family: 'l-bd', arial, sans;
}

.api-icon {
	position: relative;
	font-size: 80px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 32px 36px 39px 40px;
}

#comments {
	margin-top: 50px;
}



/******************
*** Date box ******
*******************/

/* Text rotation exmaples styles */
.datebox
{
	float: left;
	background-color: rgb(139,139,139);
	border: 1px solid rgb(139,139,139);
	color: #ffffff;
	position: relative;
	margin: 5px 30px 0 20px;
}
.datebox .month
{
	display: block;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	padding: 2px 0;
	background-color: rgb(229,59,48);
	text-transform: uppercase;
}
.datebox .day
{
	display: block;
	text-align: center;
	font-size: 80px;
	line-height: 80px;
	font-weight: bold;
	padding: 2px 24px 2px 0;
}
.datebox .year
{
	display: block;
	writing-mode: tb-rl;
	-webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	right: 0;
	bottom: 9px;
	font-size: 24px;
}
*:first-child+html .datebox .year { right: -28px; } /* IE7 positions element differently to IE6 & 8 */
.datebox span:nth-child(3)
{
	right: -16px;
	bottom: 24px;
	writing-mode: lr-tb; 
}

.author_vcard {
	float: left;
	width:  200px;
	height: 200px;
	margin-right: 5%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
    -webkit-border-radius: 30px;  
    -moz-border-radius: 30px;  
    border-radius: 30px;
    margin:10px;
    background-repeat: no-repeat !important;
    margin-bottom: 80px;
}

.author_vcard .name {
	padding-top: 210px;
	font-size: 1.2em;
}

.social div {
	display: inline;
	float: right;
}

