
.icon-cog:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-arrows-cw:before { content: '\e80d'; } /* '' */
.icon-emo-thumbsup:before { content: '\e803'; } /* '' */
.icon-emo-grin:before { content: '\e808'; } /* '' */
.icon-library:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-puzzle:before { content: '\e804'; } /* '' */
.icon-rocket:before { content: '\e80b'; } /* '' */
.icon-github:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-wrench:before { content: '\e80a'; } /* '' */